.nav-link {
  color: #000; /* Default text color */
  background-color: transparent; /* Remove default bg */
  transition: color 0.2s ease;
}

.nav-link:hover {
  color: #f7750e; 
}

.nav-link.active {
  color: #f7750e !important; 
  background-color: transparent !important; /* No background highlight */
  font-weight: 500;
}

