<div class="d-flex flex-column flex-shrink-0 p-3 bg-white" style="width: 250px; height: 100vh;">
  <!-- Logo -->
  <img src="https://media.licdn.com/dms/image/v2/D560BAQFIYyEX9d99kw/company-logo_200_200/company-logo_200_200/0/1728040747493/gofivefamily_logo?e=2147483647&v=beta&t=a5uVORvP55zefYb0gQ_q5yO7W06GPYHciImchRO04OE"
       alt="Logo"
       class="me-2 rounded-circle mb-3"
       style="width: 8em; height: 8em; object-fit: contain;">


  <!-- Navigation -->
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item mb-2">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link d-flex align-items-center">
        <i class="fa fa-keyboard me-2"></i>
        Dashboard
      </a>
    </li>
    <li class="nav-item mb-2">
      <a routerLink="/docs" routerLinkActive="active" class="nav-link d-flex align-items-center">
        <i class="fa fa-chart-bar me-2"></i>
        Objectives
      </a>
    </li>
    <li class="nav-item mb-2">
      <a routerLink="/documents" routerLinkActive="active" class="nav-link d-flex align-items-center">
        <i class="fa fa-file-alt me-2"></i>
        Documents
      </a>
    </li>
    <li class="nav-item mb-2">
      <a routerLink="/photos" routerLinkActive="active" class="nav-link d-flex align-items-center">
        <i class="fa fa-image me-2"></i>
        Photos
      </a>
    </li>
    <li class="nav-item mb-2">
      <a routerLink="/hierarchy" routerLinkActive="active" class="nav-link d-flex align-items-center">
        <i class="fa fa-sitemap me-2"></i>
        Hierarchy
      </a>
    </li>
    <li class="nav-item mb-2">
      <a routerLink="/messages" routerLinkActive="active" class="nav-link d-flex align-items-center">
        <i class="fa fa-comment me-2"></i>
        Message
      </a>
    </li>
    <li class="nav-item mb-2">
      <a routerLink="/help" routerLinkActive="active" class="nav-link d-flex align-items-center">
        <i class="fa fa-question-circle me-2"></i>
        Help
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/settings" routerLinkActive="active" class="nav-link d-flex align-items-center">
        <i class="fa fa-cog me-2"></i>
        Setting
      </a>
    </li>
  </ul>
</div>
